# macOS System Files
.DS_Store
.AppleDouble
.LSOverride

# Icon & Thumbnail Caches
Icon\r
._*

# Files that may be created on a Mac-formatted hard drive
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on external/network drives
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
apdisk