@font-face {
    font-family: 'Iosevka';
    src: url(../fonts/iosevka-regular.ttf) format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Iosevka';
    font-size: 16px;
    background-color: white;
    transform: translateY(-40px);
    line-height: 20px;
}

#centered, #whoami {
    font-size: 16;
}

div {
    margin-bottom: 16px;
}

#links {
    color: #9a9a9a;
}

a {
    color: inherit;               /* Default link color */
    text-decoration: none;        /* Remove underline by default */
    transition: color 0.5s;       /* Adjust duration as needed for a smooth fade */
}

a:hover {
    color: #D7D7D7;               /* Hover color */
    text-decoration: none;        /* Ensure no underline on hover */
}

#highlight_links {
    color: #9a9a9a;
    animation: fadeIn 3s forwards; /* Fade-in animation for the container */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

span {
    font-family: system-ui;
}

#links, #status {
    opacity: 0;                   /* Start hidden */
    transition: opacity 1.5s;     /* Adjust duration as needed */
}

.fade-in {
    opacity: 1 !important;        /* Fully visible when fade-in class is added */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Zoomed-in mobile version */
@media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Iosevka';
        font-size: 32px;
        background-color: white;
        transform: translateY(-40px);
        line-height: 40px;
    }

    #centered, #whoami {
        font-size: 32px;
    }

    div {
        margin-bottom: 32px;
    }
}
