@font-face {
    font-family: 'Iosevka';
    src: url(../fonts/iosevka-regular.ttf) format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    overflow-y: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Iosevka';
    font-size: 16px;
    background-color: white;
    transform: translateY(-40px);
    line-height: 20px;
}

#centered, #whoami {
    font-size: 16;
}

div {
    margin-bottom: 16px;
}

#links {
    color: #9a9a9a;
}

a {
    color: inherit;               /* Default link color */
    text-decoration: none;        /* Remove underline by default */
    transition: color 0.5s;       /* Adjust duration as needed for a smooth fade */
}

a:hover {
    color: #008EC4;               /* Hover color */
    text-decoration: none;        /* Ensure no underline on hover */
}

/* Fade-in animation for the entire character container */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Fade-in applied to the character container */
#characters-container {
    height: 125px;
    width: 125px;
    opacity: 0;                   /* Start hidden */
    animation: fadeIn 3s forwards; /* Fade-in animation for the container */
    position: relative;           /* Position relative to enable absolute positioning for children */
    margin-bottom: 0px;
}

#coming_soon {
    animation: fadeIn 3s forwards; /* Fade-in animation for the container */
}

span {
    font-family: system-ui;
}

/* Applying movement animations to each eye independently */
#left_eyes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#right_eyes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Positioning the character image */
#characters {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#links, #status {
    opacity: 0;                   /* Start hidden */
    transition: opacity 1.5s;     /* Adjust duration as needed */
}

.fade-in {
    opacity: 1 !important;        /* Fully visible when fade-in class is added */
}

#left_eyes, #right_eyes {
    transition: transform 0.2s ease-out; /* Smooth movement over 0.2 seconds */
}

/* Zoomed-in mobile version */
@media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Iosevka';
        font-size: 32px;
        background-color: white;
        transform: translateY(-40px);
        line-height: 40px;
    }

    #centered, #whoami {
        font-size: 32px;
    }

    div {
        margin-bottom: 32px;
    }

    /* Fade-in applied to the character container */
    #characters-container {
        height: 250px;
        width: 250px;
    }
}
